@font-face {
    font-family: spacebook;
    src: url(fonts/Starjedi.ttf);
}

@font-face {
    font-family: starstyled;
    src: url(fonts/starjhol.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}

body {
    background-color: black;
}

.good-bad {
    width: 100%;
    margin-top: 0;
}

.about-info {
    float: right;
}

.home-content {
    margin-bottom: 80px;
}

.header {
    background-color: black;
    color: yellow;
}

.logo-text {
    font-family: starstyled;
}

.logo {
    width: 80px;
    height: auto;
    float: left;
}

.main-logo-text {
    font-family: starstyled;
    font-size: 1.5em;
    color: yellow;
}

.header li {
    display: inline-block;
    float: right;
    margin-left: 5px;
    font-size: 1.7em;
    color: yellow;
}

.main-content {
    padding-bottom: 40px;
    background-image: url(/home/starwars-characters.jpg);
    height: 100vh;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 40px;
}

.needs-to-know img {
    height: 100px;
    width: auto;
    float: left;
    margin-right: 20px;
}