<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/myprofile">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/home"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="page-header" style="text-align:center;">
    <h1>Welcome to <span class="logo-text">Spacebook</span> {{user}}<br><small>Take a moment to look around your page?</small></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-5">
                    <div class="well">
                        <img class="img-responsive center-block" src="/images/darth-vader-crossed-arms-1280jpg-88461e1280wjpg-67c0c2_1280w.jpg">
                        <h5 style="text-align:center;">Profile Picture</h5>
                    </div>
                </div>
                <div class="panel">
                    <div class="col-sm-7 panel-body well">
                        <input type="text" placeholder="What are you doing?" class="form-control" ng-model="newStatus">
                        <button class="btn btn-lg btn-warning form-control">Update Status</button>
                    </div>
                </div>
                <span class="needs-to-know panel panel-success">
                <div class="col-sm-7 panel-heading">
                        <h3 style="text-align:center;">{{question[3].name}} Wrote on your wall!</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-7">
                            
                        </div>
                    </div>
                </div>
                </span>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-success">
                        <h3 style="text-align:center;" class="panel-heading">About</h3>
                        <people-info data='data'></people-info>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="panel panel-success">
                        <h3 style="text-align:center;" class="panel-heading">People You May Know</h3>
                        <select class="panel-body form-control" ng-model="character" ng-options="character as character for character in characters"></select>
                        <button class="btn btn-lg btn-success form-control" ng-click="getPage()">Checkout Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{characters}}