<div class="page-header" style="text-align:center;">
    <h1>Welcome to <span class="logo-text">Spacebook</span>!<br><small>A meetup for friends and enemies alike.</small></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Join Now!  It's Free</h4>
                    <h5>Note: All fields are required.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="firstName" placeholder="First Name" required>
                                <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name" required>
                                <input type="date" class="form-control" ng-model="birthdate" placeholder="Birth Date" required>
                                <input type="email" class="form-control" ng-model="email" placeholder="Email" required>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 style="text-align:center;">Alliance?</h4>
                                    </div>
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-4">
                                        <label for="chooseSide">Rebel</label>
                                        <input class="form-control" name="chooseSide" type="radio" ng-model="rebel">
                                    </div>
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-4">
                                        <label for="chooseSide">Empire</label>
                                        <input class="form-control" name="chooseSide" type="radio" ng-model="empire">
                                    </div>
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-4">
                                        <label for="male">Male</label>
                                        <input class="form-control" name="sex" type="radio" ng-model="male">
                                    </div>
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-4">
                                        <label for="female">Female</label>
                                        <input class="form-control" name="sex" type="radio" ng-model="female">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <a href="/#/myprofile">Join</a>
                        <button type="button" class="btn btn-success" href="/#/myprofile">Join Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="testimonials">
                <div class="row">
                    <div class="col-sm-4 col-md-6">
                        <img class="img img-responsive center-block" ng-src="testimonials/vader-testimonial.png">
                    </div>
                    <div class="col-xs-0 col-sm-1"></div>
                    <div class="col-sm-7 col-md-5">
                        <p>Spacebook has assisted me greatly in communicating with my generals and the Emporor. We have also found it to be an amazing tool for recruiting. Do you have what it takes to join the Imperial army? Message me and find out!
                            <br>-Darth Vader</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-6">
                        <img class="img img-responsive center-block" ng-src="testimonials/Yoda's_hover_chair.png">
                    </div>
                    <div class="col-xs-0 col-sm-1"></div>
                    <div class="col-sm-7 col-md-5">
                        <p>Join the rebellion you must. Dark future for all I see if ruling the Empire does. Fight you will. Fight you must. With your brothers and neighbors stand you must.
                            <br>-Master Yoda</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align:center;">See who else is online!</h2>
        </div>
    </div>
    <div class="row">

    </div>
</div>